:root{
    --corPrincipal: #391c57;
    --corSecundaria: #411c69;
    --corFonte: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    /*cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1309.ani), url(https://cur.cursors-4u.net/games/gam-13/gam1309.png), auto !important;
*/}

body{
 /*   background-image: url('../img/pokemon-4k-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-awyga.jpg');*/
 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/182616_cute-pokemon-hd-desktop-backgrounds-1678-hd-wallpapers-site_1920x1080_h.jpg');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
/*rgb(57,28,87)*/

.header .logo {
    color: yellow;
}

.container{
    width: 70%;
    margin: auto;
    
}

.categorias .container, .topicos .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.categorias {
    width: 72%;
}

.header .container {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.navs {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.navbar a{
    text-decoration: none;
    color: var(--corFonte);
    transition-duration: 0.6s;
    padding: 15px;
    border-radius: 10px;
    
}

.navLeft {
    margin-left: -15px;
}

.navRight {
    margin-right: -15px;
}

.navbar a:hover{
    background-color: var(--corPrincipal);
    color: var(--corFonte);
}

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1080px;
    opacity: 1.0;
    text-align: center;
    color: var(--corFonte);
}

.banner a{
    color: var(--corFonte);
    
}

.msg{
    text-align: center;
    margin-top: 350px;
    color: var(--corFonte);
}

.main .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.pageTopicos .container {
    display: block;
}

article {
    background-color: var(--corPrincipal);
    display: flex;
    margin-top: 20px
}

.usuario {
    padding: 15px;
    background-color: var(--corSecundaria)
}

.usuario img {
    width: 100px;
    height: 100px;
}

.footer{
    color: var(--corFonte);
    height: 200px;
    display: flex;
    justify-content: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metricasSubCategoria {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.metricasTopico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 125px;
}

.metricasBetween {
    display: flex;
    justify-content: space-between;
}

.subCategorias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tituloCategoria{
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: var(--corFonte);
}

.tituloSubCategoria{
    width: 50%;
}

.ultimoTopico {
    display: flex;
    justify-content: space-between;
}

.topicoUsuario {
    width: 75%;
    word-wrap: break-word;
}

.topico {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.topico img {
    width: 60px;
    height: 60px;
}

.topicos {
    background-color: var(--corPrincipal);
    color: var(--corFonte);
    height: fit-content;
    width: 100%;
}

.topicos, .topico {
    border: 1px solid var(--corFonte);
}

.autorTopico {
    width: 50%;
    display: flex;
    align-items: center;
}

.autorTopico div {
    margin-left: 15px;
}

.autorResposta {
    display: flex;
    align-items: center;
}

.autorResposta div {
    margin-right: 15px;
}

.mensagem {
    padding-left: 10px;
    padding-top: 10px
}

.texto {
    margin-top: 5px;
}

.tituloTopico {
    color: var(--corFonte)
}

.cardStatics {
    width: 230px;
}

.cardStatics .card{
    font-size: 15px;
    width: 100%;
    margin-top: 15px;
}

.card {
    background-color: var(--corPrincipal);
    color: var(--corFonte);
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    
}

.cardHeader{
    background-color: var(--corPrincipal);
    font-size: 15px;
    width: 100%;
}

.cardHeader img {
    width: 100%;
    height:200px;
}

.cardTitulo {
    text-align: center;
}

.cardContent {
    width: 80%;
    padding: 30px;
    font-size: 15px;
}

.cardContent img {
    margin-top: -5px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}

.cardContent .metricasBetween {
    margin-top: 4px;
}

.cardFooter{
    font-size: 15px;
    width: 100%;
    background-color: #411c69;
}

.cardFooterContent {
    margin: auto;
    width: 80%;
    padding: 15px;
}

.cardFooterContent img{
    height: 50px;
    width: 50px;
}

.estatistica {
    display: flex;
    justify-content: space-between;
}

.modalFundo{
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);

}

.modal{
    width: 40%;
    margin: auto;
}

.modalHeader{
    text-align: center;
    background-color: var(--corPrincipal);
    color: var(--corFonte);
}

.modalContent{
    background-color: var(--corFonte);
}

.modalContent form{
    display: flex;
    flex-direction: column;
    align-items: center
}

.modalContent span{
    margin-top: 15px
}

.modalContent input{
    width: 40%;
    padding-left: 5px;
}

.modalContent input:not([type=radio]){
    height: 25px;
    border-radius: 15px;
}

.btn {
    margin: auto;
    padding: 10px 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--corPrincipal);
    border: 0;
    border-radius: 15px;
    transition-duration: 0.6s;
}

.btn:hover {
    color: var(--corFonte);
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none
}

textarea {
    resize: none;
    padding: 2px;
}

@media (max-width: 980px){
  .cardStatics, .categorias {
      width: 100%;
  }

}